.all {
  max-width: 1350px;
  margin: 0 auto;
}

.top {
  position: relative;
}

input {
  position: absolute;
    width: 200px;
    padding: 10px;
    display: block;
    top: 650px;
    right: 1120px;
    background-color: #999;
    color: white;
}
  
textarea {
  position: absolute;
  top: 700px;
  width: 800px;
  height: 150px;
  padding: 10px;
  left: 100px;
  display: block;
  resize: none;
  background-color: #999;
  color: white;
}
  
button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1100px;
  bottom: 1px;
  display: block;
  font-size: 16px;
  display: block;
	 text-decoration: none;
	 width: 120px;
	 margin: auto;
	 padding: 1rem 3rem;
	 font-weight: bold;
	 background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
	 border-radius: 100vh;
	 color: #333;
	 border: 1px solid #999;
	 text-shadow: 0 1px #fff;
	 box-shadow: 0 3px 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1, 0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
	 transition: 0.5s;
}
button:hover {
	opacity: 0.5;
}
  
#output {
  position: absolute;
    width: 1350px;
    display: block;
    height: 500px;
    bottom: 180px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: scroll;
    background-image: url(https://pbs.twimg.com/media/Bw7ET58CYAAiSBj.jpg);
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
  }

  .block {
    display: flex;
    flex-direction: column;
  }

  .block input,
  .block textarea {
    margin-bottom: 10px;
    padding: 8px;
  }

  .talk {
    padding: 1px;
    margin-left: 5px;
    border-radius: 10px;
    max-width: 30%;
  }

  .odd {
    background-color: #cce5ff; /* 奇数の背景色 */
    margin-left: 900px;
  }

  .even {
    background-color: #d4edd6; /* 偶数の背景色 */
  }
  
  
